<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon"
    aria-label="Angular Challenge project for Atom Pro">
    <mat-icon>menu</mat-icon>
  </button>
  <span mat-button routerLink="/home">{{title}}</span>
  <span class="example-spacer">

    <button mat-button
      *ngFor="let link of navLinks"
      [routerLink]="link.link"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive"
      class="nav-buttons"
      >
        {{link.label}}
    </button>
  </span>
</mat-toolbar>
</p>

<router-outlet></router-outlet>

