<mat-card>
  <mat-card-subtitle>Products</mat-card-subtitle>
  <mat-card-title>Products List</mat-card-title>
</mat-card>

<div class="demo-button-container">

  <button mat-raised-button routerLink="/products/new" class="demo-button">
    Add New Product
  </button>
</div>

<table mat-table [dataSource]="productsList" class="mat-elevation-z8 demo-table">
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>id</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <!-- Category Column -->
  <ng-container matColumnDef="cat_id">
    <th mat-header-cell *matHeaderCellDef>Category</th>
    <td mat-cell *matCellDef="let element">{{getCategoryName(element.cat_id)}}</td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let element">{{element.price}}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <tr><th mat-header-cell *matHeaderCellDef> Action </th></tr>
    <tr>
      <td mat-cell *matCellDef="let row" style="width:20%">
        <button
          mat-icon-button color="primary"
          (click)="editProduct(row)"
          title="Edit Product">
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button color="primary"
          [disabled]="!productsList.length"
          (click)="deleteProduct(row.id)"
          title="Delete Product"><mat-icon>delete</mat-icon>
        </button>
      </td>
    <tr>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
