/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-form-field-infix {
  border-bottom: solid 1px #aaa;
}

.mat-form-field-infix, .mat-error {
  font-size:12px;
}

.mat-header-cell {
  font-size: 14px;
    font-weight: bold;
    color: #000;
}

.nav-buttons {
  margin-left:5px;
  margin-right: 5px;
}
.nav-buttons.cdk-focused {
  background-color: #aaa;
  color: #fff;
}

.demo-inline-calendar-card {
  width: 300px;
}

.prod-icon {
  font-size: 14px;
  margin:10px;
}

.mat-list-base .mat-list-item {
  height: 30px !important
}

.example-spacer {
  margin-left:30px;
}

.side-drawer{
  width: 300px;
}

.action-block{
  width:20%;
}
