/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-form-field-infix {
  border-bottom: solid 1px #aaa;
}

// .mat-form-field-wrapper {
//   margin: 5px 0 !important;
// }

.mat-form-field-infix, .mat-error {
  font-size:12px;
}

.mat-header-cell {
  font-size: 14px;
    font-weight: bold;
    color: #000;
}

.nav-buttons {
  margin-left:5px;
  margin-right: 5px;
}
.nav-buttons.cdk-focused {
  background-color: #aaa;
  color: #fff;
}

.demo-inline-calendar-card {
  width: 300px;
}
